<div #myDiv class="homeCont bg-cover bg-center flex items-center flex-col" style="background-image: url(../../assets/deathStar.jpg);">
    <div (click)="fetchData()" class="bg-custom-gray h-[200px] w-[300px] md:w-[600px] lg:w-[800px] rounded-xl mt-10 flex justify-center content-center flex-wrap text-4xl md:text-6xl">
      <div class="font-custom text-custom-yellow text-center">
        Star Wars Characters
      </div>
    </div>

    <div
    class="mt-20 w-[90%] flex flex-col md:flex-row justify-center items-center flex-wrap"
  >
    <div class="flex flex-col justify-center items-center w-[100%]">
      <input
        class="mb-10 h-[50px] w-[100%] rounded-md pl-2 text-2xl"
        [(ngModel)]="searchQuery"
        placeholder="Search People"
      />
      <button
        class="bg-cover bg-center w-[150px] h-[75px] font-custom text-custom-yellow text-2xl mb-10 rounded-md border-4 border-white shadow-md shadow-white"
        style="
          background-image: url('../../assets/btnBg.jpg');
          text-shadow: -5px -5px 0 black, 5px -5px 0 black, 5px 5px 0 red,
            5px 5px 0 red;
        "
        (click)="OnPeopleSearch()"
      >
        Search
      </button>
    </div>

  </div>

    <div *ngIf="isLoading" class="spinner-overlay">
      <div class="spinner"></div>
    </div>
  
    <div class="scroll-container w-[90%] mt-[60px] mb-[10px]" *ngIf="array.length > 0">
      <app-material-ui-table [array]="array"></app-material-ui-table>
    </div>

  </div>
