<table mat-table [dataSource]="array3" style="overflow-x: auto;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let element">{{ element.model || '⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⠀⢀⣤⣤⣤⣤⣤⣤⣤⠀⠀⠀⠀⢠⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⣼⣿⣿⣿⣿⣿⣿⣿⣇⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣟⠛⠛⠛⠛⠛⣿⣿⣿⣿⡟⠛⠛⠛⠛⠛⢠⣿⣿⣿⣿⠿⣿⣿⣿⣿⡀⠀⠀⢸⣿⣿⣿⣿⡏⠉⠉⢉⣿⣿⣿⣿⡇⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⣿⣷⡀⠀⠀⠀⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⣾⣿⣿⣿⡟⠀⢻⣿⣿⣿⣧⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠀⠀⠀⠀⠀
        ⣤⣤⣤⣤⣤⣤⣤⣤⣤⣬⣿⣿⣿⣿⣿⣷⠀⠀⠀⣿⣿⣿⣿⡇⠀⠀⠀⠀⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣤⣤⣤⣤⣤⣤
        ⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀⠀⣿⣿⣿⣿⡇⠀⠀⠀⢀⣿⣿⣿⣿⡿⠿⠿⠿⠿⣿⣿⣿⣿⡀⢸⣿⣿⣿⣿⡇⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
        ⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠟⠛⠁⠀⠀⠀⠀⠿⠿⠿⠿⠇⠀⠀⠀⠸⠿⠿⠿⠟⠀⠀⠀⠀⠀⠻⠿⠿⠿⠇⠸⠿⠿⠿⠿⠇⠀⠀⠙⠛⠿⠿⠿⠿⠿⠿⠿⠿
        ⢻⣿⣿⣿⣿⡄⢠⣿⣿⣿⣿⣿⡆⠀⣾⣿⣿⣿⡟⠀⢀⣾⣿⣿⣿⣿⣿⣿⡄⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣦⣄⠀⠀⠀⠀⣠⣶⣶⣿⣿⣿⣿⣿⣿⣿⣿
        ⠈⣿⣿⣿⣿⣷⣼⣿⣿⣿⣿⣿⣿⣸⣿⣿⣿⣿⠁⠀⣼⣿⣿⣿⣿⣿⣿⣿⣷⠀⠀⠀⠀⣿⣿⣿⣿⣿⠿⠿⢿⣿⣿⣿⣿⣇⠀⠀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
        ⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡏⠀⢠⣿⣿⣿⣿⠏⢿⣿⣿⣿⣇⠀⠀⠀⣿⣿⣿⣿⣿⣀⣀⣀⣼⣿⣿⣿⡟⠀⠀⢹⣿⣿⣿⣿⣿⣄⠀⠀⠀⠀⠀
        ⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⣾⣿⣿⣿⣟⣀⣸⣿⣿⣿⣿⡀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠙⢿⣿⣿⣿⣿⣧⠀⠀⠀⠀
        ⠀⠀⠘⣿⣿⣿⣿⣿⣿⠋⣿⣿⣿⣿⣿⣿⠇⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⣿⣿⣿⣿⣿⢿⣿⣿⣿⣿⣿⣶⣶⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⠇⠀⠀⠀
        ⠀⠀⠀⢻⣿⣿⣿⣿⡏⠀⢹⣿⣿⣿⣿⡟⠀⢀⣿⣿⣿⣿⡟⠛⠛⠛⠛⣿⣿⣿⣿⡆⠀⣿⣿⣿⣿⣿⠀⠙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠀⠀⠀⠀
        ⠀⠀⠀⠈⠉⠉⠉⠉⠀⠀⠀⠉⠉⠉⠉⠁⠀⠈⠉⠉⠉⠉⠀⠀⠀⠀⠀⠉⠉⠉⠉⠉⠀⠉⠉⠉⠉⠉⠀⠀⠀⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
      <td mat-cell *matCellDef="let element">{{ element.manufacturer || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="cost_in_credits">
      <th mat-header-cell *matHeaderCellDef>Cost In Credits</th>
      <td mat-cell *matCellDef="let element">{{ element.cost_in_credits || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef>Length</th>
      <td mat-cell *matCellDef="let element">{{ element.length || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="max_atmosphering_speed">
      <th mat-header-cell *matHeaderCellDef>Max Atmosphering Speed</th>
      <td mat-cell *matCellDef="let element">{{ element.max_atmosphering_speed || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="crew">
      <th mat-header-cell *matHeaderCellDef>Crew</th>
      <td mat-cell *matCellDef="let element">{{ element.crew || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="passengers">
      <th mat-header-cell *matHeaderCellDef>Passengers</th>
      <td mat-cell *matCellDef="let element">{{ element.passengers || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="cargo_capacity">
      <th mat-header-cell *matHeaderCellDef>Cargo Capacity</th>
      <td mat-cell *matCellDef="let element">{{ element.cargo_capacity || 'n/a' }}</td>
    </ng-container>

    <ng-container matColumnDef="consumables">
        <th mat-header-cell *matHeaderCellDef>Consumables</th>
        <td mat-cell *matCellDef="let element">{{ element.consumables || 'n/a' }}</td>
      </ng-container>

      <ng-container matColumnDef="hyperdrive_rating">
        <th mat-header-cell *matHeaderCellDef>Hyperdrive Rating</th>
        <td mat-cell *matCellDef="let element">{{ element.hyperdrive_rating || 'n/a' }}</td>
      </ng-container>

      <ng-container matColumnDef="MGLT">
        <th mat-header-cell *matHeaderCellDef>MGLT</th>
        <td mat-cell *matCellDef="let element">{{ element.MGLT || 'n/a' }}</td>
      </ng-container>

      <ng-container matColumnDef="starship_class">
        <th mat-header-cell *matHeaderCellDef>Starship Class</th>
        <td mat-cell *matCellDef="let element">{{ element.starship_class || 'n/a' }}</td>
      </ng-container>

      <ng-container matColumnDef="pilots">
        <th mat-header-cell *matHeaderCellDef>Pilots</th>
        <td mat-cell *matCellDef="let element">{{ element.pilots?.join(', ') || 'n/a' }}</td>
      </ng-container>
  
    <ng-container matColumnDef="films">
      <th mat-header-cell *matHeaderCellDef>Films</th>
      <td mat-cell *matCellDef="let element">{{ element.films?.join(', ') || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let element">{{ element.created || 'n/a' | date}}</td>
    </ng-container>
  
    <ng-container matColumnDef="edited">
      <th mat-header-cell *matHeaderCellDef>Edited</th>
      <td mat-cell *matCellDef="let element">{{ element.edited || 'n/a' | date}}</td>
    </ng-container>
  
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let element">{{ element.url || 'n/a' }}</td>
    </ng-container>
  
    <!-- Define more columns here as needed -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns3"></tr>
  </table>
