<div class="bg-white flex w-[90vw] h-[50px] container" style="overflow-x: auto; white-space: nowrap;">
    <div class="border-r-4 border-r-black p-2">{{ people?.name }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.height }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.mass }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.hair_color }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.skin_color }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.eye_color }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.birth_year }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.gender }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.homeworld }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.films }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.species }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.vehicles }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.starships }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.created }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.edited }}</div>
    <div class="border-r-4 border-r-black p-2">{{ people?.url }}</div>
</div>
