<table mat-table [dataSource]="array" style="overflow-x: auto;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef>Height</th>
      <td mat-cell *matCellDef="let element">{{ element.height || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="mass">
      <th mat-header-cell *matHeaderCellDef>Mass</th>
      <td mat-cell *matCellDef="let element">{{ element.mass || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="hair_color">
      <th mat-header-cell *matHeaderCellDef>Hair Color</th>
      <td mat-cell *matCellDef="let element">{{ element.hair_color || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="skin_color">
      <th mat-header-cell *matHeaderCellDef>Skin Color</th>
      <td mat-cell *matCellDef="let element">{{ element.skin_color || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="eye_color">
      <th mat-header-cell *matHeaderCellDef>Eye Color</th>
      <td mat-cell *matCellDef="let element">{{ element.eye_color || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="birth_year">
      <th mat-header-cell *matHeaderCellDef>Birth Year</th>
      <td mat-cell *matCellDef="let element">{{ element.birth_year || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{ element.gender || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="homeworld">
      <th mat-header-cell *matHeaderCellDef>Homeworld</th>
      <td mat-cell *matCellDef="let element">
        <a href="#" (click)="fetchHomeworld($event, element.homeworld)" class="text-blue-500" #homeworldLink>
          {{ 'Homeworld' || 'n/a' }}
        </a>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="films">
      <th mat-header-cell *matHeaderCellDef>Films</th>
      <td mat-cell *matCellDef="let element">
        <a href="#" (click)="fetchFilms($event, element.films)" class="text-blue-500">{{ 'FilmsShownIn' }}</a>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="species">
      <th mat-header-cell *matHeaderCellDef>Species</th>
      <td mat-cell *matCellDef="let element">{{ 'Human' || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="vehicles">
      <th mat-header-cell *matHeaderCellDef>Vehicles</th>
      <td mat-cell *matCellDef="let element">{{ element.vehicles?.join(', ') || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="starships">
      <th mat-header-cell *matHeaderCellDef>Starships</th>
      <td mat-cell *matCellDef="let element">{{ element.starships?.join(', ') || 'n/a' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let element">{{ element.created || 'n/a' | date}}</td>
    </ng-container>
  
    <ng-container matColumnDef="edited">
      <th mat-header-cell *matHeaderCellDef>Edited</th>
      <td mat-cell *matCellDef="let element">{{ element.edited || 'n/a' | date}}</td>
    </ng-container>
  
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let element">{{ element.url || 'n/a' }}</td>
    </ng-container>
  
    <!-- Define more columns here as needed -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
  </table>